name: Node.js CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'src/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 21
          cache: pnpm
      - run: pnpm install
      - run: pnpm run lint
      - run: pnpm run build
