name: Deploy docs

# on:
#   push:
#     branches: [ "main" ]
#     paths:
#       - 'docs/**'

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 21
      - run: npm install
      - run: npm run docs:build
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.DEPLOY_DOCS_TOKEN }}
          publish_dir: ./website